*{
margin:0;
}
body{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
:root{
    --btn-gris:#c9c9c9;
}

#app{
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 400px;
    height: 85vh;
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px 15px 105px 15px;
    display: block;
    margin-top: 2em;
}
#pantalla{
    background-color: black;
    border-radius: 10px;
    height: 40vh;
    padding: 1em;
}
#area-battle{
    width: 85%;
    height: 31vh;
    margin: 0 auto;
    border-radius: 15px;
    background-image: url('../resource/img/Campo_de_batalla_DPPt_1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-color: #3a7bd5; */
    border: #000 solid 2px;
    padding: 1rem;
}
h1, h2{
    text-align: center;
    color:#fff;
}
#pokemon{
    text-align: right;
    color: #fff;
}
#pokemon::first-letter{
 text-transform: uppercase;
}
#oponente{
    margin-left: 65%;
}
#myPokemon{
    position: relative;
    top:-30px
}
#oponentPokemon::first-letter{
    text-transform: uppercase;
   }
#oponentPokemon{
    text-align: left;
    color: #fff;
}


/* controls */
#actions{
    position: relative;
    margin-left:60%;
}
.btn-circle{
    border-radius: 50px;
    border: 0px;
    background-color: red;
    color :#c9c9c9;
    width: 50px;
    font-size: 20px;
    text-shadow: #c9c9c9;
    height: 50px;
}
#btn-a{
    margin-top: 20%;
}
#move{
    position: relative;
    left: 10%;
}
#up{
  position: relative;
  top:-55px;  
  left:45px;
  background-color: #c9c9c9;
  height: 8vh;
  border-radius: 0 0px 15px 15px;
}
#rigth{
  position: relative;
  top:-23px;
  left:-67px;
  width: 68px;
  background-color: #c9c9c9;
  border-radius: 15px 0px 0px 15px;
  height: 4vh;
}
#left{
    position: relative;
    top:-23px;
    left: -106px;
    width: 68px;
    background-color: #c9c9c9;
    border-radius: 0 15px 15px 0px;
    height: 4vh;
}
#down{
    position: relative;
    top: 25px;
    margin-left: 0.8em;
    border-radius: 15px 15px 0   0px;
    height: 8vh;
    background-color: #c9c9c9;
}
#pauseAndSelect{
    position: relative;
    left:30%;
    margin-top: 10%;
}
#pauseAndSelect button{
    background-color: #c9c9c9;
    height: 25px;
    border-radius: 15px;
    color:#fff;
}
.start{
-moz-transform: skew(0deg, -16deg);
-webkit-transform: skew(0deg, -16deg);
-o-transform: skew(0deg, -16deg);
-ms-transform: skew(0deg, -16deg);
transform: skew(0deg, -16deg);
}
.select{
    -moz-transform: skew(0deg, -16deg);
-webkit-transform: skew(0deg, -16deg);
-o-transform: skew(0deg, -16deg);
-ms-transform: skew(0deg, -16deg);
transform: skew(0deg, -16deg);
}
#panel-msg{
    border-radius: 15px;
    border:4px  solid #027;
    background: var(--btn-gris) ;
    color:#000;
    padding: 1rem;
    width: 303px;
    margin:0 auto;
    position: relative;
    left:-5%;
    top:-80px;
}